# fastapi
# uvicorn[standard]
# pydantic
# sentence-transformers
# faiss-cpu
# numpy
# requests
# pathlib
# tqdm
# openai


fastapi
uvicorn[standard]

# Data validation & settings
pydantic
pydantic-settings

# AI / ML
sentence-transformers
faiss-cpu
numpy
tqdm
openai

# Database
sqlalchemy
pandas

# Authentication & security
passlib[bcrypt]

# HTTP & utilities
requests
pathlib
